@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }

  .show-sm {
    color: white;
    padding-top: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .landing-inner {
    h1 {
      font-size: 2.5rem;
      width: auto;
    }
  }

  .sobre .container h1 {
    font-size: 1.8rem;
    width: 300px;
  }

  .minhas-skill .container h1 {
    font-size: 1.8rem;
    width: 300px;
  }

  .minhas-skill .container .teste {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .projects h1 {
    font-size: 1.8rem;
    width: 300px;
  }

  .projects .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .overlayMaster {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlayMaster-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlayMaster a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlayMaster a:hover,
  .overlayMaster a:focus {
    color: #f1f1f1;
  }

  .overlayMaster .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
